/* Dashboard.css */

.Dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .volunteer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin-top: 1%;
    border-radius: 10px;
    background: linear-gradient(95deg, #1F6DD2 7.99%, #0331C5 34.57%, #0F0E38 67.1%);
    margin-bottom: 20px;
  }
  
  .volunteer-image {
    flex: 1;
    /* width: 100%; */
    height: 300px; /* Adjust the height as needed */
    margin-bottom: 20px;
    align-self: self-start;
    max-width: 25%;
  }

  .volunteer-image img {
   /* Make sure the image fills the entire container */
    height: auto; /* Maintain the aspect ratio */
  }

  .volunteer-details {
    flex: 3;
    max-width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: right; /* Center vertically */
    align-items: right; /* Center horizontally */
    padding: 0 20px;
    margin-left: 100px;
  }
  .volunteer-details h2,
  .volunteer-details p {
    text-align: left;
}
  .options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 500px;
    /* width: 100px; */
  }
  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container */
  }
  
  .option {
    flex: 1;
    margin: 10px;
    text-align: center;
    width: 300px;
    height: 400px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    border-radius: 8px;
  }
  .option:hover {
    transform: scale(1.05);
  }

  .container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container */
  }
  .title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
    margin: 20px;
    color: 'white';
  }
  .overlay-text {
    position: absolute;
    top: 200px; /* Adjust this value to vertically center the text */
    left: 200px; /* Adjust this value to horizontally center the text */
    transform: translate(-50%, -50%); /* Center the text precisely */
    color: white; /* Set the text color */
    /* Add any other styles you want for the h2 element */
  }
  .option-image {
    background-color: #ccc;
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    padding-top: 80px;
    background-size: cover;
    background-position: center;
  }

  .option-image.background-image-profile {
    background-image: url('../assets/options/profile.png'); /* Adjust the path based on your project structure */
    /* Additional styles if needed for this specific image option */
  }
  .option-image.background-image-progress {
    background-image: url('../assets/options/progress.png'); /* Adjust the path based on your project structure */
    /* Additional styles if needed for this specific image option */
  }
  .option-image.background-image-quizzes {
    background-image: url('../assets/options/quizes.png'); /* Adjust the path based on your project structure */
    /* Additional styles if needed for this specific image option */
  }
  .option-image.background-image-tutorials {
    background-image: url('../assets/options/profile.png'); /* Adjust the path based on your project structure */
    /* Additional styles if needed for this specific image option */
  }
  
  .option h3 {
    margin-top: 10px;
    font-size: 18px; /* Adjust the font size as needed */
  }
  
  @media (max-width: 768px) {
    .volunteer-image {
      order: -1; /* Move image above details for mobile view */
    }
  
    .options {
      flex-direction: column;
      align-items: center;
    }
  
    .option {
      width: 80%;
    }
  }
  