body{
    background: #E3E9F5;
    margin: 0;
}

.navbar{
    padding-inline: 4.5vw;
    padding-block: 1.5vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}

.container{
    display: flex;
    flex-direction: column;
    padding-block: 2vw;
    padding-inline: 5vw;
    align-items: flex-start;
}

.h1{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5vw;
    font-weight: 600;
    color: #1F1F1F;
    margin-block: 0;
    margin-inline: 0;
}